doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title New Session
    body
        h1= user.email
        form(action="/sessions?_method=DELETE", method="post")
            input(type="submit" value="Cerrar sesion")