doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tareas
    body
        each category in categories
            strong ID: 
            p= category.id
            strong Titulo: 
            p= category.title
            strong Color: 
            p= category.color
            hr
            each task in category.tasks
                ul
                    strong Description: 
                    p= task.description
                    hr


    