doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title New Category
    body
        form(action="/categories" method="POST")
            input(name="title" type="text" placeholder="title")
            input(name="color" type="text" placeholder="color")
            input(type="submit" value="Crear categoria")