doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Categoria
    body
        h1= category.title
        p= category.color
        p= category.createdAt
        form(action=`/categories/${category.id}?_method=DELETE` method="POST")
            input(type="submit" value="Eliminar")
    