doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title New Task
    body
        form(action="/tasks" method="POST")
            input(type="text" placeholder="Ids de las categorias" name="categories")
            textarea(name="description" placeholder="Coloca aqui el pendiente a realizar")
            input(type="submit" value="Guardar")